body {
    margin: 0;
    padding: 0;
    background-image: url(../images/bg.png);
    background-size: cover;
    height: 100vh;
}

.headlogin {
    background-image: url(../images/headerbg.png);
    height: 64px;
    border: 1px solid #9C9C9C;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 100%;
}

.headtext {
    color: white;
    padding-top: 22px;
    padding-left: 20px;
    font-size: 14px;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

#login .container #login-row #login-column #login-box {
    width: 100%;
    border: 1px solid #9C9C9C;
    background-color: white;
    margin-top: -1px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#login-column {
    max-width: 400px;
}

.usr {
    width: 15px;
    background: url(../images/user.png) 95% 50% no-repeat;
}

.lock {
    width: 15px;
    background: url(../images/locked.png) 95% 50% no-repeat;
}

::-webkit-input-placeholder {
    font-size: 14px;
}

.form-control {
    background-color: #f0eef0;
}

.btn {
    margin-top: 5px;
    height: 40px;
    width: 100px;
    background: url(../images/headerbg.png);
    font-size: 14px;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

.center_cont,
.hello {
    display: flex;
    flex-wrap: wrap;
}

.answer {
    display: none;
    color: red;
    text-align: center;
    width: 100%;
}

.hello {
    color: white;
    display: none;
    text-align: center;
}